z.slider-bg1 {
  background-image: url(../img/HeroImage.jpg) !important;
}

.footer-wrapper {
  background-color: black !important;
  background: black;
}
.logo {
  height: 45px;
}
.main-header,
.header-area ul li a {
  background-color: black !important;
  color: white !important;
  height: 100px;
  padding-left: 75px;
}
.slider-area2 {
  background-image: url(../img/std.png);
  background-size: cover;
 
}
.slider-height2 {
  height: 350px;
}
.slider-height4 {
  height: 650px;
}
.slider-area4 {
  background-image: url(../img/5hero.png);
  background-repeat: no-repeat;
  height: initial;

}
.slider-area3 {
  background-image: linear-gradient(to left, #f2be05, #f13568, #f2be05);
}
.slider-area2 .hero-cap h2 {
  color: black;
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0px;
  text-align: center;
}
h2 {
  color: black;
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 21px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.section-padding {
  padding-top: 50px;
  padding-bottom: -1px;
}
h3 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 21px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.container {
  padding-bottom: 15px;
}
.btn {
  background-color: #f23838;
  background-image: none;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  transition: 0.6s;
  box-shadow: 0px 7px 21px 0px rgb(0 0 0 / 12%);
  background-position: right;
  background-size: 200%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hero-cap2 p {
  color: #fff;
}
.hero-cap3 p {
  color: rgb(31, 30, 30);
  font-size: 18px;
  font-family: "Poppins",sans-serif;
}
.hero-cap4 p {
  color: #fff;
  font-size: 18px;
  font-family: "Poppins",sans-serif;
}
.card1 {
  background-color: #f13568;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-img {
  align-content: center;
}
.ml-22 {
  padding-top: 15px;
  margin: auto;
}
.card-body {
  height: 300px;
}
.card-text1 {
  color: white;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  margin: auto;
  padding: 20px;
}
.hero-cap2 {
  margin-left: 25px;
}
.hero-cap3 {
  margin-right: 25px;
}
.aboutUs {
  font-weight: bolder;
  background-color: #f13568 !important;
}
.getInvolved {
  font-weight: bold;
  background-color: #f2be05 !important;
}
.programs {
  font-weight: bold;
  background-color: #f28705 !important;
}
.pulse {
  font-weight: bold;
  background-color: #f20505 !important;
}

html {
  font-family: Poppins !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Poppins !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100;
  font-size: 18px;
  font-weight: bold;
}
.bg-light {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
ul ul.submenu > li > a {
  padding: 10px;
  font-size: 14px;
}
.dropdown-divider {
  color: black !important;
}
ul > li:hover > ul.submenu {
  visibility: visible;
  opacity: 31;
  top: 100%;
  color: black !important;
}
.main-header .main-menu ul ul.submenu {
  position: absolute;
  width: 170px;
  background: rgba(0, 12, 32, 0.6);
  left: 0;
  top: 50%;
  visibility: visible;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 5%);
  padding: 17px 0;
  border-top: 5px solid black;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3;
}
.centerCarousel {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
  height: inherit;
  size-adjust: 50%;
}
.header-sticky.sticky-bar {
  background-color: black;
}
.hero-btn {
  padding: 25px 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #f20505;
  border-color: #f20505;
  border-width: thick;
  font-weight: 1000;
  font-size: 18px;
 
}
#scrollUp,
#back-top {
  background: #f13568 !important ;
}
/*Mental Health Page*/

.slider-areaMH {
  background-image: url(../img/mentalhealth/mentalhealth.png);
  background: cover;
  max-width: 1440px;
  background-repeat: none;
}

.hero-capMH {
 
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  max-width: 450px;
  max-height: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 330px;
}

#mh-top-h2 {
  margin-top: 20px;
}

.pera-top {
  margin: 10px;
  padding: 100px;
 
  justify-items: center;
}

.parent5 {
    position: relative;
    margin-top: 280px;
    text-align: center;
}

.child-5_1 {
    text-align: center;
    margin-top: -80px;
}

.child-5_2 {
    text-align: center;
    margin-top: -50px;;
}

.slider-area-counseling {
    background-image: linear-gradient(to left, #f2be05, #f13568, #f2be05);
 
}
.parent6 {
    position: relative;
    text-align: center;
    margin-top: -55px;
}

.child-6_1 {
    text-align: center;
    margin-top: -50px;
}

.child-6_2 {
    text-align: center;
    margin-top: -60px;
}


/*END Mental Health page*/


.parent {
  position: relative;
  margin-top: -39px;
  text-align: center;
 

}
.parent1 {
  position: static;
  margin-top: -2px;
  text-align: center;
 

}
.child-1 {
  text-align: center;
  margin-top: -68px;

 
}

.child-2 {
  text-align: center;
  margin-top: -60px;
 
}

.parent2 {
  position: relative;
  margin-top: -101px;
  text-align: center;
}
.parent3 {
  position: relative;
  margin-top: -28px;
  text-align: center;
}
.parent4 {
  position: relative;
  margin-top: -25px;
  text-align: center;
  padding-bottom: 15px;
}
.carousel-slide {
  padding-left: 250px;
  padding-right: 250px;
}
h1 {
  font-family: "Poppins",sans-serif;
    color: #080808;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
}
.pt80 {
  justify-content: left;
  padding-bottom: 300px;
  padding-left: 300px;
}
.pt90{
  justify-content: left;
  padding-bottom: 70px;
  padding-left: 300px;
  padding-right: -10px;

}
p {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  justify-content: inherit;
 
}
.container1 {
 padding: 0px;
  
}
.card {
  padding: 10px;
}
.card-title1{
  font-size: 18px !important;
  font-family: "Poppins", sans-serif !important;
}
.card-text2{
  font-family: "Quicksand", sans-serif !important;
  font-size: 16px;
}
.carousel-control-prev {
  visibility: hidden;
}
.carousel-control-next:hover{
  visibility: hidden;
}

.section-bg{
  display: flex;
  padding: 40px 20px;
  align-items: center;
}